numpy==1.15.4
pandas
flask
flask-cors
flask-sqlalchemy
python-decouple 
python-dotenv 
gunicorn 
scikit-learn
scipy
joblib==0.13.2
category-encoders
psycopg2-binary
sqlalchemy
boto3
opencv-python
selenium
beautifulsoup4