# Automatically run every time you deploy a new version of the application.
# Docs: http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customize-containers-ec2.html

# AWS-EB organizes python code under: /opt/python/
# current app is available under /opt/python/current/app (/opt/python/current is a link to /opt/python/bundle/${bundle_version}/)
# AWS-EB makes use of virtualenv and its location is: /opt/python/run/venv
# If you want to use a python shell with all the environment variable you are expecting you have to:
#    source /opt/python/run/venv/bin/activate  ---activates the virtual environ
#    source /opt/python/current/env   --loads up all the environment variables you did define via eb settings

container_commands:
    # install ChromeDriver
    20_chromedriver_cd_to_/tmp:
        command: "cd /tmp/" 
    21_get_chromedriver_tar:
        command: "wget https://chromedriver.storage.googleapis.com/2.37/chromedriver_linux64.zip"
    22_unzip_chromedriver_tar:
        command: "unzip chromedriver_linux64.zip"
    23_mv_chromerdriver:
        command: "sudo mv chromedriver /usr/local/bin/chromedriver"
    # install Chrome
    30_curl_google_chrome_install:
        command: "curl https://intoli.com/install-google-chrome.sh | bash"
    31_mv_google_chrome:
        command: "sudo mv /usr/bin/google-chrome-stable /usr/local/bin/google-chrome"
